
/* 桌面版面: 768px以上  */
@media only screen and (min-width: 769px) {
    body{
        background-color: #dddddd;
    }
    
    body, .nav-bar{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .nav-bar{
        height: 70px;
        width: 100%;
        background-color: #e6e6e6;
        margin-top: 0px;
        box-shadow: 0 2px 5px 1px #e6e6e6;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 999;
        position: fixed;
    }

    .nav-bar-list-item a:link{
        text-decoration: none;
    }

    .nav-bar-list-item a{
        color: #646566;
        padding: 0 5px 7px 5px;
    }

    .nav-bar-list-item a:hover{
        border-bottom: 2px solid #646566;
    }

    /* .nav-bar-list-item:nth-child(1):hover a{
        font-size: 24px;
    } */

    .logo{
        position: relative;
        width: 200px;
        height: 70px;
        margin-left: 10%;
        margin-top: 12px;
        
    }

    ul li{
        list-style: none;
    }

    .logo-img{
        width: 100%;
    }

    .nav-bar-list .nav-bar-list-item{
        display: inline;
    }

    .nav-bar-list{
        margin-right: -5%;
        padding-top: 10px;
    }

    .nav-bar-list-item{
        margin-left: 10px;
        font-weight: 600;
        color: #646566;
    }

    .navbar-toggle{
        display: none;
    }

    .moblie-nav-bar-list{
        display: none;
    }

    .content-wrap .content{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #home{
        background-image: url(image/hello.png);
        background-size: cover;
        background-position: 50%;
        background-position-y: -120px;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .hello-content{
        position: absolute;
        width: 30%;
        height: 7%;
        padding: 1%;   
        right: -10%;
        bottom: 25%;
        transform: translateX(-53%) translateY(50%);
        background: rgba(255,255,255,.8);
        outline:2px solid rgba(255,255,255,.8);
        outline-offset: 5px;
        text-align: center;

    }
    
    .hello-name, .hello-introduction{
        margin: 0px;
    }

    .hello-introduction{
        display: inline-block;
        line-height: 150%;
        vertical-align: middle;
    }

    .hello-introduction p{
        text-align: justify;
        font-size: 2vmin;
        margin-top: 3px;
        color: #3b3b3b;
        font-weight: 600;
    }

    .hello-introduction h4{
        color: #181818;
        font-weight: 800;
    }

    .mobile-scroll-dowm{
        display: none
    }

    .scroll-down{
        /* display: block; */
        position: absolute;
        z-index: 10;
        left: 50%;
        bottom: 110px;
        width: 60px;
        margin-left: -30px;
    }

    .animation{
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        animation:animation 1.5s linear infinite;
        animation-fill-mode: both;
        animation-direction:alternate;
        z-index: 999;
        left: 50%;
        margin-top: 42%;
        margin-left:-25px;
    }
    
    @keyframes animation{
        from{
            top:0px;
            opacity: 0.5;
        }
        to{
            top: 25px;
            opacity: 1;
        }
    
    }

    /* --------------About ME--------------- */

    #aboutMe{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }

    .aboutme-left {
        padding: 0px;
        max-width: 50%;
        margin: 0;
        list-style: none;
        text-align: center;
        /* position: relative; */
        margin-top: 0px;
        margin-left: 0px;
        width: 40%;
    }
    
    .aboutme-left li {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align: left;
        position: relative;
    }
    
    .aboutme-left figure {
        margin: 0;
        position: relative;
        box-shadow: 1px 10px 5px 5px #c4c1c1;

    }
    
    .aboutme-left figure img {
        max-width: 100%;
        display: block;
        position: relative;
    }
    
    .aboutme-left figcaption {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background: #2c3f52;
    }
    
    .aboutme-left figcaption h3 {
        margin: 0;
        padding: 0;
        color: #fff;
        padding-top: 30px;
    }
    
    .aboutme-left figcaption div{
        margin-left: 22%;
        color: #e6e6e6;
        padding-top: 15px;
    }
    
    .aboutme-left figcaption a {
        text-align: center;
        padding: 5px 10px;
        border-radius: 2px;
        display: inline-block;
        background: #afafaf;
        color: #2b2b2b;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    
    /* aboutme-pic-style */
    .aboutme-pic-style li {
        perspective: 1700px;
        perspective-origin: 0 50%;
    }
    
    .aboutme-pic-style figure {
        transform-style: preserve-3d;
    }
    
    .aboutme-pic-style figure > div {
        overflow: hidden;
    }
    
    .aboutme-pic-style figure img {
        transition: transform 0.4s;
    }
    
    .no-touch .aboutme-pic-style figure:hover img,
    .aboutme-pic-style figure.cs-hover img {
        transform: translateX(10%);
    }
    
    .aboutme-pic-style figcaption {
        height: 100%;
        width: 50%;
        opacity: 0;
        backface-visibility: hidden;
        transform-origin: 0 0;
        transform: rotateY(-90deg);
        transition: transform 0.4s, opacity 0.1s 0.3s;
    }
    
    .no-touch .aboutme-pic-style figure:hover figcaption,
    .aboutme-pic-style figure.cs-hover figcaption {
        opacity: 1;
        transform: rotateY(0deg);
        transition: transform 0.4s, opacity 0.1s;
    }
    
    .aboutme-pic-style figcaption a {
        position: absolute;
        bottom: 45px;
        right: 20px;
    }

    .aboutme-right{
        width: 60%;
    }
    
    .aboutme-right-intro{
        width: 50%;
        position: relative;
        left: 50%;
        margin-left: -25%;
        color: #2b2b2b;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 600;
        padding-top: 10%;
        vertical-align: middle;
    }

    .aboutme-right-intro-list{
        margin-bottom: 5px;
    }

    .aboutme-title{
        margin-top: -20px;
        margin-bottom: 25px;
        color: #646566;
        font-weight: 400;
    }


    
    
    
}

/* 表格版面: 481px 到 768px。 */
@media only screen and (min-width: 480px) and (max-width:768px){
    body{
        background-color: #dddddd;
    }
    
    body, .nav-bar{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;    
    }
    
    .nav{
        position: fixed;
        margin-top: 0px;
        width: 100%;
    }

    .nav-bar{
        height: 70px;
        background-color: #e6e6e6;
        display: flex;
        box-shadow: 0 2px 5px 1px #e6e6e6;
        justify-content: space-between; 
    }

    .logo{
        position: relative;
        width: 200px;
        height: 70px;
        margin-left: 10%;
        margin-top: 12px;
        
    }

    ul li{
        list-style: none;
    }

    .logo-img{
        width: 100%;
    }

    .nav-bar-list{
        display: none;
    }

    .navbar-toggle{
        width: 45px;
        height: 45px;
        margin-top: 13px;
        margin-right: 80px;
        background-color: transparent;
        border: 1px solid #646566b7;
        border-radius: 4px;
        padding-bottom: 8px;
        padding-left: 9px;
    }


    .navbar-toggle .icon-bar{
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 2px;
        background-color: #646566b7;
    }

    .icon-bar{
        margin-top: 4px;
    }

    .mobile-nav-bar-hide{
        display: none;
        width: 100%;
        height: 220px;;
        position: fixed;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        background-color: rgba(56, 56, 56, 0.8);
        border: 1px solid #64656647;
        box-shadow: 0px 1px 20px 2px #646566b7;
    }

    .moblie-nav-bar-list{
        position: absolute;
        margin-top: 2%;
        margin-bottom: 0px;
        right: 1%;
        width: 110px;
    }

    .moblie-nav-bar-list a{
        color: #ececec;
        text-decoration: none;
    }

    .moblie-nav-bar-list li{
        margin-bottom: 10px;
        font-size: 17px;
    }

    /* ---------------home----------------- */
   .content-wrap{
       background-image: url(image/hello.png);
       background-size: cover;
       background-position-x: -120px;
       width: 100%;
       height: 650px;
    }

    .hello-content{
        display: none;
    }

    .scroll-down{
        display: none;
    }

    .mobile-scroll-dowm{
        position: absolute;
        z-index: 10;
        left: 50%;
        bottom: 80px;
        width: 60px;
        margin-left: -30px;
    }

    .mobile-animation{
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        animation:mobile-animation 1.5s linear infinite;
        animation-fill-mode: both;
        animation-direction:alternate;
        z-index: 999;
        left: 50%;
        margin-top: 42%;
        margin-left:-25px;
    }
    
    @keyframes mobile-animation{
        from{
            top:0px;
            opacity: 0.5;
        }
        to{
            top: 25px;
            opacity: 1;
        }
    
    };

    /* -----------------aboutme----------------- */
    #aboutMe{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        /* position: relative; */
        background-color: pink;
        margin: 0;
        left: 0;
    }

    .aboutme-left {
        padding: 0px;
        max-width: 50%;
        list-style: none;
        margin-top: 0px;
        margin-left: 0px;
        width: 40%;
    }
    
    .aboutme-left li {
        display: inline-block;
        width: 100%;
        margin: 0;
        position: relative;
    }
    
    .aboutme-left figure {
        margin: 0;
        position: relative;
        box-shadow: 1px 1px 10px 1px #c4c1c1;

    }
    
    .aboutme-left figure img {
        max-width: 100%;
        display: block;
    }
    
    .aboutme-left {
        position: absolute;
    }

    figcaption{
        display: none;
    }

    .aboutme-right{
        width: 60%;
    }
    
    .aboutme-right-intro{
        width: 50%;
        position: relative;
        left: 50%;
        margin-left: -25%;
        color: #2b2b2b;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding-top: 10%;
        vertical-align: middle;
    }

    .aboutme-right-intro-list{
        margin-bottom: 5px;
    }

    .aboutme-title{
        margin-top: -20px;
        margin-bottom: 25px;
        color: #646566;
        font-weight: 400;
    }
    
}





/* 行動版面: 480px 以下。 */
@media only screen and (max-width: 480px) {
    body{
        background-color: #dddddd;
    }
    
    body, .nav-bar{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;  
    }
    
    .nav{
        position: fixed;
        margin-top: 0px;
        width: 100%;
    }

    .nav-bar{
        height: 70px;
        
        background-color: #e6e6e6;
        
        box-shadow: 0 2px 5px 1px #e6e6e6;
        display: flex;
        justify-content: space-between; 
    }

    .logo{
        position: relative;
        width: 200px;
        height: 70px;
        margin-left: -5%;
        margin-top: 12px;
        
    }

    ul li{
        list-style: none;
    }

    .logo-img{
        width: 100%;
    }

    .nav-bar-list{
        display: none;
    }

    .navbar-toggle{
        width: 45px;
        height: 45px;
        margin-top: 13px;
        margin-right: 20px;
        background-color: transparent;
        border: 1px solid #646566b7;
        border-radius: 4px;
        padding-bottom: 8px;
        padding-left: 9px;
    }


    .navbar-toggle .icon-bar{
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 2px;
        background-color: #646566b7;
    }

    .icon-bar{
        margin-top: 4px;
    }

    .mobile-nav-bar-hide{
        display: none;
        width: 100%;
        height: 200px;;
        position: fixed;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        background-color: #585858ce;
        border: 1px solid #64656647;
        box-shadow: 0px 2px 20px 3px #646566b7;
    }

    .moblie-nav-bar-list{
        position: absolute;
        margin-top: 2%;
        margin-bottom: 0px;
        right: -5%;
        width: 110px;
    }

    .moblie-nav-bar-list a{
        color: #ececec;
        text-decoration: none;
    }

    .moblie-nav-bar-list li{
        margin-bottom: 10px;
        font-size: 15px;
    }


    /* -----------------home----------------- */
    .content-wrap{
        background-image: url(image/hello.png);
        background-size: cover;
        background-position-x: -120px;
        width: 100%;
        height: 650px;
     }
 
     .hello-content{
         display: none;
     }
 
     .scroll-down{
         display: none;
     }
 
     .mobile-scroll-dowm{
         position: absolute;
         z-index: 10;
         left: 50%;
         bottom: 80px;
         width: 60px;
         margin-left: -30px;
     }
 
     .mobile-animation{
         position: absolute;
         display: block;
         width: 50px;
         height: 50px;
         animation:mobile-animation 1.5s linear infinite;
         animation-fill-mode: both;
         animation-direction:alternate;
         z-index: 999;
         left: 50%;
         margin-top: 42%;
         margin-left:-25px;
     }
     
     @keyframes mobile-animation{
         from{
             top:0px;
             opacity: 0.5;
         }
         to{
             top: 25px;
             opacity: 1;
         }
     
     };
     
     /* -----------------Aboutme------------------ */
 
    
     
 
} 
