
/* 桌面版面: 768px以上  */
@media only screen and (min-width: 769px) {
    body{
        background-color: #dddddd;
        width: 100%;
    }
    
    body, .nav-bar{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .nav-bar{
        height: 70px;
        width: 100%;
        background-color: #e6e6e6;
        margin-top: 0px;
        box-shadow: 0 2px 5px 1px #e6e6e6;
        display: flex;
        justify-content: space-between;
        z-index: 999;
        position: fixed;
    }

    .nav-bar-list-item a:link{
        text-decoration: none;
    }

    .nav-bar-list-item a{
        color: #646566;
        padding: 0 5px 7px 5px;
    }

    .nav-bar-list-item a:hover{
        border-bottom: 2px solid #646566;
    }

    /* .nav-bar-list-item:nth-child(1):hover a{
        font-size: 24px;
    } */

    .logo{
        position: relative;
        width: 200px;
        height: 70px;
        margin-left: 10%;
        margin-top: 12px;
        
    }

    ul li{
        list-style: none;
    }

    .logo-img{
        width: 100%;
    }

    .nav-bar-list .nav-bar-list-item{
        display: inline;
    }

    .nav-bar-list{
        margin-right: -5%;
        padding-top: 10px;
    }

    .nav-bar-list-item{
        margin-left: 10px;
        font-weight: 600;
        color: #646566;
    }

    .navbar-toggle{
        display: none;
    }

    .moblie-nav-bar-list{
        display: none;
    }

    .content-wrap .content{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #home{
        background-image: url(image/hello.png);
        background-size: cover;
        background-position: 50%;
        background-position-y: -120px;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 660px;
        position: relative;
    }

    .hello-content{
        position: absolute;
        width: 30%;
        height: 7%;
        padding: 1%;   
        right: 7%;
        bottom: 25%;
        background: rgba(255,255,255,.8);
        outline:2px solid rgba(255,255,255,.8);
        outline-offset: 5px;
        text-align: center;

    }
    
    .hello-name, .hello-introduction{
        margin: 0px;
    }

    .hello-introduction{
        display: inline-block;
        line-height: 150%;
        vertical-align: middle;
    }

    .hello-introduction p{
        text-align: justify;
        font-size: 2vmin;
        margin-top: 3px;
        color: #3b3b3b;
        font-weight: 600;
    }

    .hello-introduction h4{
        color: #181818;
        font-weight: 800;
        /* margin-top: 10px; */
    }

    .mobile-scroll-dowm{
        display: none
    }

    .scroll-down{
        /* display: block; */
        position: absolute;
        z-index: 10;
        left: 50%;
        bottom: 200px;
        width: 60px;
        margin-left: -30px;
    }

    .animation{
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        animation:animation 1.5s linear infinite;
        animation-fill-mode: both;
        animation-direction:alternate;
        z-index: 999;
        left: 50%;
        margin-top: 42%;
        margin-left:-25px;
    }
    
    @keyframes animation{
        from{
            top:0px;
            opacity: 0.5;
        }
        to{
            top: 25px;
            opacity: 1;
        }
    
    }

    /* --------------About ME--------------- */

    #aboutMe{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }

    .aboutme-left {
        padding: 0px;
        max-width: 50%;
        margin: 0;
        list-style: none;
        text-align: center;
        /* position: relative; */
        margin-top: 0px;
        margin-left: 0px;
        width: 40%;
    }
    
    .aboutme-left li {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align: left;
        position: relative;
    }
    
    .aboutme-left figure {
        margin: 0;
        position: relative;
        box-shadow: 1px 10px 5px 5px #c4c1c1;

    }
    
    .aboutme-left figure img {
        max-width: 100%;
        display: block;
        position: relative;
    }
    
    .aboutme-left figcaption {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background: #2c3f52;
    }
    
    .aboutme-left figcaption h3 {
        margin: 0;
        padding: 0;
        color: #fff;
        padding-top: 30px;
    }
    
    .aboutme-left figcaption div{
        margin-left: 22%;
        color: #e6e6e6;
        padding-top: 15px;
    }
    
    .aboutme-left figcaption a {
        text-align: center;
        padding: 5px 10px;
        border-radius: 2px;
        display: inline-block;
        background: #afafaf;
        color: #2b2b2b;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    
    /* aboutme-pic-style */
    .aboutme-pic-style li {
        perspective: 1700px;
        perspective-origin: 0 50%;
    }
    
    .aboutme-pic-style figure {
        transform-style: preserve-3d;
    }
    
    .aboutme-pic-style figure > div {
        overflow: hidden;
    }
    
    .aboutme-pic-style figure img {
        transition: transform 0.4s;
    }
    
    .no-touch .aboutme-pic-style figure:hover img,
    .aboutme-pic-style figure.cs-hover img {
        transform: translateX(10%);
    }
    
    .aboutme-pic-style figcaption {
        height: 100%;
        width: 50%;
        opacity: 0;
        backface-visibility: hidden;
        transform-origin: 0 0;
        transform: rotateY(-90deg);
        transition: transform 0.4s, opacity 0.1s 0.3s;
    }
    
    .no-touch .aboutme-pic-style figure:hover figcaption,
    .aboutme-pic-style figure.cs-hover figcaption {
        opacity: 1;
        transform: rotateY(0deg);
        transition: transform 0.4s, opacity 0.1s;
    }
    
    .aboutme-pic-style figcaption a {
        position: absolute;
        bottom: 45px;
        right: 20px;
    }

    .aboutme-right{
        width: 60%;
    }

    .bookmark-right:before{ 
        content:'';
        width:100%;  
        height: 2.5%;  
        border: 15px solid;  
        border-color: transparent #bbbbbb transparent transparent ;   
        position: absolute;  
        right:100%;  
        top: 0px;  
    }

    .bookmark-right{
        width: 12%;  
        background-color: #bbbbbb;  
        font-size: 18px;  
        line-height: 30px;  
        text-align: center;  
        position: absolute;  
        margin-top: 30px;  
        right: 0px;
        font-weight: 600;
        color:#4d4d4d;
        letter-spacing: 8px;
    }

    .bookmark-right:after{  
        content:'';
        width:100%;
        border: 16px solid;  
        border-color: transparent transparent transparent #8a8a8a;   
        border-top: 0;  
        right: -88%;  
        position: absolute;  
        top: 100%;  
    }

    .mobile-bookmark-left{
        display: none;
    }
    
    .aboutme-right-intro{
        width: 60%;
        position: relative;
        left: 48%;
        margin-left: -25%;
        color: #2b2b2b;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 600;
        padding-top: 8%;
        vertical-align: middle;
    }

    .aboutme-right-intro-list{
        margin-bottom: 5px;
        letter-spacing: 2px;
    }

    .aboutme-title{
        margin-top: 25px;
        color: #646566;
        font-weight: 400;
    }

    /* --------------experience----------------- */


    #experience{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 12px;
    }
    
    .experience-left{
        width: 55%;
        height: 300px;
        /* border: 1px solid pink;    */
    }

    #timeline {
        position: relative;
        width: 80%;
        margin: 12%;
        margin-top: 10%;
        
      }
      
      .timeline-line:after {
        content: '';
        width: 2px;
        position: absolute;
        top: .5rem;
        bottom: 0rem;
        left: 69px;
        z-index: 1;
        background: #C5C5C5;
      }
      
      #timeline h3 {
        position: sticky;
        /* top: 0rem; */
        color: #888;
        margin: 0;
        font-size: 2.6vh;
        font-weight: 600;
      }
      
      
      /* @media (min-width: 62em) {
        #timeline h3 {
          font-size: 1.1em;
        }
      } */
      #timeline section.year {
        position: relative;
      }
      
      #timeline section.year section {
        position: relative;
        padding-bottom: 1.5em;
        margin-bottom: 1.5em;
      }
      #timeline section.year section h4 {
        position: absolute;
        bottom: 0;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 0 45%;
        color: #888;
      }
      
      /*#timeline section.year section h4 {
          font-size: 1em;
        }*/
      
      #timeline section.year section ul {
        list-style-type: none;
        padding: 0 0 0 75px;
        margin: -1.35rem 0 0em;
        max-width: 32rem;
        font-size: 1em;
      }
      
      
      
      /*@media (min-width: 62em) {
        #timeline section.year section ul {
          font-size: 1.1em;
          padding: 0 0 0 81px;
        }
      }*/
      
      
      #timeline section.year section ul:first-of-type:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #979797;;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        position: absolute;
        left: 65px;
        top: 6px;
        z-index: 2;
      }
      
      #timeline section.year section ul li {
        margin-left: 2rem;
        color: #505050;
        font-weight: bolder;
        font-size: 2.5vh;
      }
      #timeline section.year section ul li:before {
        content: '-';
        margin-left: -1.2rem;
        padding-right: .3rem;
        color: #505050;
      }

      .bookmark-left:before{
        content:'';
        width:10px;  
        height: 0%;  
        border: 15px solid;  
        border-color: transparent #4a4f56 transparent  transparent ;   
        border-top: 0;  
        left: -15px;  
        position: absolute;  
        top: 30px;
    }
      
      .bookmark-left{
        width: 20%;  
        height: 10%;  
        background-color: #bbbbbb;  
        font-size: 18px;  
        line-height: 30px;  
        text-align: center;  
        position: relative;  
        top: 7%;  
        left: 0px;  
        font-weight: 600;
        color:#4d4d4d;
        letter-spacing: 5px;
    }


    .bookmark-left:after{
        content:'';
        width:20px;  
        height: 0%;  
        border: 15px solid;  
        border-color: transparent  transparent  transparent #bbbbbb;   
        position: absolute;  
        right:-30px;  
        top: 0px; 
    }

    .experience-right{
        width: 45%;
        height: 300px;
        /* border: 1px solid red; */
    }

    .experience-right img{
        width: 100%;
        margin-top: 20px;
    }



    .experience-right {
        padding: 0px;
        max-width: 100%;
        margin: 0;
        list-style: none;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
        /* width: 40%; */
    }
    
    .experience-right li {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align: left;
        position: relative;
    }
    
    .experience-right figure {
        margin: 0;
        position: relative;
    }
    
    .experience-right figure img {
        max-width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    
    .experience-right figcaption {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background: #2c3f52;
    }
    
    .experience-right figcaption h3 {
        margin-top: 50px;
        padding: 0;
        color: #fff;
        padding-top: 30px;
        margin-left: 20%;
    }
    
    .experience-right figcaption div{
        margin-left: 40%;
        color: #e6e6e6;
        /* padding-top: 5px; */
        margin-top: -15px;
        font-size: 17px;
        font-weight: bold;
    }
    
    .experience-right figcaption a {
        text-align: center;
        padding: 5px 10px;
        border-radius: 2px;
        display: inline-block;
        background: #afafaf;
        color: #2b2b2b;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    
    /* experience-pic-style */
    .experience-pic-style li {
        perspective: 1700px;
        perspective-origin: 0 50%;
    }
    
    .experience-pic-stylee figure {
        transform-style: preserve-3d;
    }
    
    .experience-pic-style figure > div {
        overflow: hidden;
    }
    
    .experience-pic-style figure img {
        transition: transform 0.4s;
    }
    
    .no-touch .experience-pic-style figure:hover img,
    .experience-pic-style figure.cs-hover img {
        transform: translateX(25%);
    }
    
    .experience-pic-style figcaption {
        height: 94%;
        width: 50%;
        opacity: 0;
        margin-top: 20px;
        backface-visibility: hidden;
        transform-origin: 0 0;
        transform: rotateY(-90deg);
        transition: transform 0.4s, opacity 0.1s 0.3s;
    }
    
    .no-touch .experience-pic-style figure:hover figcaption,
    .experience-pic-style figure.cs-hover figcaption {
        opacity: 1;
        transform: rotateY(0deg);
        transition: transform 0.4s, opacity 0.1s;
    }
    
    .experience-pic-style figcaption a {
        position: absolute;
        bottom: 45px;
        right: 20px;
    }

    .mobile-experience-img{
        display: none;
    }
    
    .mobile-experience-left{
        display: none;
    }


    
    
    
}

/* 表格版面: 481px 到 768px。 */
@media only screen and (min-width: 480px) and (max-width:768px){
    body{
        background-color: #dddddd;
    }
    
    body, .nav-bar{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;    
    }
    
    .nav{
        position: fixed;
        margin-top: 0px;
        z-index: 999;
        width: 100%;
    }

    .nav-bar{
        height: 70px;
        background-color: #e6e6e6;
        display: flex;
        box-shadow: 0 2px 5px 1px #e6e6e6;
        justify-content: space-between; 
    }

    .logo{
        position: relative;
        width: 200px;
        height: 70px;
        margin-left: 10%;
        margin-top: 12px;
        
    }

    ul li{
        list-style: none;
    }

    .logo-img{
        width: 100%;
    }

    .nav-bar-list{
        display: none;
    }

    .navbar-toggle{
        width: 45px;
        height: 45px;
        margin-top: 13px;
        margin-right: 80px;
        background-color: transparent;
        border: 1px solid #646566b7;
        border-radius: 4px;
        padding-bottom: 8px;
        padding-left: 9px;
    }


    .navbar-toggle .icon-bar{
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 2px;
        background-color: #646566b7;
    }

    .icon-bar{
        margin-top: 4px;
    }

    .mobile-nav-bar-hide{
        display: none;
        width: 100%;
        height: 220px;;
        position: fixed;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        background-color: rgba(56, 56, 56, 0.8);
        border: 1px solid #64656647;
        box-shadow: 0px 1px 20px 2px #646566b7;
    }

    .moblie-nav-bar-list{
        position: absolute;
        margin-top: 2%;
        margin-bottom: 0px;
        right: 1%;
        width: 110px;
    }

    .moblie-nav-bar-list a{
        color: #ececec;
        text-decoration: none;
    }

    .moblie-nav-bar-list li{
        margin-bottom: 10px;
        font-size: 17px;
    }

    /* ---------------home----------------- */
   
    #home{
        width: 100%;
        height: 650px;
    }
    .content-wrap{
       background-image: url(image/hello.png);
       background-size: cover;
       background-position-x: -120px;
       width: 100%;
       height: 650px;
    }

    .hello-content{
        display: none;
    }

    .scroll-down{
        display: none;
    }

    .mobile-scroll-dowm{
        position: absolute;
        z-index: 10;
        left: 50%;
        bottom: 80px;
        width: 60px;
        margin-left: -30px;
    }

    .mobile-animation{
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        animation:mobile-animation 1.5s linear infinite;
        animation-fill-mode: both;
        animation-direction:alternate;
        z-index: 999;
        left: 50%;
        margin-top: 42%;
        margin-left:-25px;
    }
    
    /* @keyframes mobile-animation{
        from{
            top:0px;
            opacity: 0.5;
        }
        to{
            top: 25px;
            opacity: 1;
        }
    
    }; */

    /* -----------------aboutme----------------- */
    #aboutMe{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        /* background-color: pink; */
    }

    .aboutme-left {
        flex: 1;
        padding: 0px;
        max-width: 50%;
        list-style: none;
        margin-top: 0px;
        margin-left: 0px;
        width: 40%;
    }
    
    .aboutme-left li {
        display: inline-block;
        width: 100%;
        margin: 0;
        position: relative;
    }
    
    .aboutme-left figure {
        margin: 0;
        position: relative;
        box-shadow: 5px 5px 10px 1px #c4c1c1;

    }
    
    .aboutme-left figure img {
        max-width: 100%;
        display: block;
    }
    
    .aboutme-left {
        position: absolute;
    }

    figcaption{
        display: none;
    }

    .aboutme-right{
        flex: 1;
        position: relative;
        width: 60%;
        right: 0;
    }

    .bookmark-right:before{ 
        content:'';
        width:100%;  
        height: 2.5%;  
        border: 14px solid;  
        border-color: transparent #bbbbbb transparent transparent ;   
        position: absolute;  
        right:100%;  
        top: 0px;  
    }

    .bookmark-right{
        width: 11%;  
        height: 15%;  
        background-color: #bbbbbb;  
        font-size: 2.2vmin;  
        line-height: 30px;  
        text-align: center;  
        position: absolute;  
        margin-top: 15px;  
        right: 0px;
        font-weight: 400;
        color:#4d4d4d;
        letter-spacing: 5px;
    }

    .bookmark-right:after{  
        content:'';
        width:100%;
        border: 10px solid;  
        border-color: transparent transparent transparent #8a8a8a;   
        border-top: 0;  
        right: -88%;  
        position: absolute;  
        top: 100%;  
    }

    .mobile-zbookmark-left{
        display: none;
    }
    
    .aboutme-right-intro{
        width: 50%;
        position: relative;
        left: 50%;
        margin-left: -25px;
        color: #2b2b2b;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vmin;
        font-weight: 600;
        padding-top: 3%;
        vertical-align: middle;
    }

    .aboutme-right-intro-list{
        margin-bottom: 5px;
        letter-spacing: 2px;
    }

    .aboutme-title{
        margin-top: 25px;
        color: #646566;
        font-weight: 400;
    }


    /* --------------experience----------------- */


    #experience{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 12px;
        padding-top: 10px;
    }
    
    .experience-left{
        width: 55%;
        height: 300px;
    }

    #timeline {
        position: relative;
        width: 90%;
        margin: 15%;
        margin-top: 8%;
        
      }
      
      .timeline-line:after {
        content: '';
        width: 2px;
        position: absolute;
        top: .5rem;
        bottom: 0rem;
        left: 50px;
        z-index: 1;
        background: #C5C5C5;
      }
      
      #timeline h3 {
        position: sticky;
        color: #888;
        margin: 0;
        font-size: 17px;
        font-weight: 600;
      }
      
    
      #timeline section.year {
        position: relative;
      }
      
      #timeline section.year section {
        position: relative;
        padding-bottom: 1.1em;
        margin-bottom: .6em;
      }
      #timeline section.year section h4 {
        position: absolute;
        bottom: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 0 45%;
        color: #888;
      }
      
      #timeline section.year section ul {
        list-style-type: none;
        padding: 0 0 0 75px;
        margin: -1.35rem 0 0em;
        max-width: 32rem;
        font-size: 1em;
      }
      
    
      #timeline section.year section ul:first-of-type:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #979797;;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        position: absolute;
        left: 46px;
        top: 6px;
        z-index: 2;
      }
      
      #timeline section.year section ul li {
        margin-left: .5rem;
        color: #181818;
        font-weight: bolder;
        font-size: 15px;
      }
      #timeline section.year section ul li:before {
        content: '-';
        margin-left: -1.2rem;
        padding-right: .3rem;
        color: #181818;
      }

      .mobile-experience-left{
          display: none;
      }

      .bookmark-left:before{
        content:'';
        width:10px;  
        height: 0%;  
        border: 15px solid;  
        border-color: transparent #4a4f56 transparent  transparent ;   
        border-top: 0;  
        left: -15px;  
        position: absolute;  
        top: 30px;
    }
      
      .bookmark-left{
        width: 22%;  
        height: 10%;  
        background-color: #bbbbbb;  
        font-size: 2.2vmin;  
        line-height: 30px;  
        text-align: center;  
        position: relative;  
        top: 7%;  
        left: 0px;  
        font-weight: 400;
        color:#4d4d4d;
        letter-spacing: 3px;
    }


    .bookmark-left:after{
        content:'';
        width:20px;  
        height: 0%;  
        border: 15px solid;  
        border-color: transparent  transparent  transparent #bbbbbb;   
        position: absolute;  
        right:-30px;  
        top: 0px; 
    }

    .experience-right img{
        width: 100%;
        margin-top: 20px;
    }



    .experience-right {
        padding-top: 0px;
        padding-left: 2px;
        width: 50%;
        margin: 0;
        list-style: none;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
        /* width: 40%; */
    }
    
    .experience-right li {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align: left;
        position: relative;
    }
    
    .experience-right figure {
        margin: 0;
        position: relative;
    }
    
    .experience-right figure img {
        max-width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    
    .experience-right figcaption {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background: #2c3f52;
    }
    
    .experience-right figcaption h3 {
        margin-top: 50px;
        padding: 0;
        color: #fff;
        padding-top: 30px;
        margin-left: 20%;
    }
    
    .experience-right figcaption div{
        margin-left: 40%;
        color: #e6e6e6;
        /* padding-top: 5px; */
        margin-top: -15px;
        font-size: 17px;
        font-weight: bold;
    }

    .mobile-experience-img{
        display: none;
    }

    
    
}


/* 行動版面: 480px 以下。 */
@media only screen and (max-width: 480px) {
    body{
        background-color: #dddddd;
    }
    
    body, .nav-bar, .nav{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;  
    }
    
    .nav{
        position: fixed;
        z-index: 999;
        margin-top: 0px;
        width: 100%;
    }

    .nav-bar{
        height: 70px;
        background-color: #e6e6e6;   
        box-shadow: 0 2px 5px 1px #e6e6e6;
        display: flex;
        justify-content: space-between; 
    }

    .logo{
        position: relative;
        width: 200px;
        height: 70px;
        margin-left: -5%;
        margin-top: 12px;
        
    }

    ul li{
        list-style: none;
    }

    .logo-img{
        width: 100%;
    }

    .nav-bar-list{
        display: none;
    }

    .navbar-toggle{
        width: 45px;
        height: 45px;
        margin-top: 13px;
        margin-right: 20px;
        background-color: transparent;
        border: 1px solid #646566b7;
        border-radius: 4px;
        padding-bottom: 8px;
        padding-left: 9px;
    }


    .navbar-toggle .icon-bar{
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 2px;
        background-color: #646566b7;
    }

    .icon-bar{
        margin-top: 4px;
    }

    .mobile-nav-bar-hide{
        display: none;
        width: 100%;
        height: 200px;;
        position: fixed;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        background-color: #585858ce;
        border: 1px solid #64656647;
        box-shadow: 0px 2px 20px 3px #646566b7;
    }

    .moblie-nav-bar-list{
        position: absolute;
        margin-top: 2%;
        margin-bottom: 0px;
        right: 5%;
        width: 110px;
    }

    .moblie-nav-bar-list a{
        color: #ececec;
        text-decoration: none;
    }

    .moblie-nav-bar-list li{
        margin-bottom: 10px;
        font-size: 15px;
    }


    /* -----------------home----------------- */
    #home{
        width: 100%;
        height: 650px;
        position: relative;
    }
    
    .content-wrap{
        background-image: url(image/hello.png);
        background-size: cover;
        background-position: center;
        background-position-x: -120px;
        /* background-position-y: -20px; */
        width: 100%;
        height: 650px;
     }
 
     .hello-content{
         display: none;
     }
 
     .scroll-down{
         display: none;
     }
 
     .mobile-scroll-dowm{
         position: absolute;
         z-index: 10;
         left: 50%;
         bottom: 20%;
         width: 60px;
         margin-left: -30px;
     }
 
     .mobile-animation{
         position: absolute;
         display: block;
         width: 50px;
         height: 50px;
         animation:mobile-animation 1.5s linear infinite;
         animation-fill-mode: both;
         animation-direction:alternate;
         z-index: 999;
         left: 50%;
         margin-top: 42%;
         margin-left:-25px;
     }
     
     /* @keyframes mobile-animation{
         from{
             top:0px;
             opacity: 0.5;
         }
         to{
             top: 25px;
             opacity: 1;
         }
     
     }; */
     
     /* -----------------Aboutme------------------ */
     #aboutMe{
        /* background-color: pink; */
        width: 100%;
        height: 250px;
    }
    .aboutme-left{
        display: none;
    }

    figcaption{
        display: none;
    }

    .aboutme-right{
        position: relative;
        width: 85%;
        height: 800px;
        margin: auto;

    }
    
    .aboutme-right-intro{
        width: 100%;
        position: relative;
        color: #2b2b2b;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;;
        font-weight: 600;
        padding-top: 5%;
        vertical-align: middle;
        opacity: 0;
    }

    .bookmark-right{
        display: none;
    }

    .mobile-bookmark-left:before{
        content:'';
        width:10px;  
        height: 0%;  
        border: 13px solid;  
        border-color: transparent #4a4f56 transparent  transparent ;   
        border-top: 0;  
        margin-left: -32px;  
        position: absolute;  
        top: 27px;
    }

    .mobile-bookmark-left{
        width: 25%;  
        height: 27px;  
        background-color: #8a8a8a;  
        font-size: 3.4vmin;  
        line-height: 27px;  
        text-align: center;  
        position: relative;  
        margin-top: 3%;  
        left: 0px;  
        font-weight: 400;
        color:#e5e5e5;
        letter-spacing: 8px;
    }

    .mobile-bookmark-left:after{
        content:'';
        width: 0px;  
        height: 0%;  
        border: 13px solid;  
        border-color: transparent  transparent  transparent #8a8a8a;   
        position: absolute;  
        right:-26px;  
        top: 0px; 
    }

    .aboutme-right-intro-list{
        margin-bottom: 3px;
        letter-spacing: 1px;
    }

    .aboutme-title{
        margin-top: 15px;
        color: #646566;
        font-weight: 400;
    }


    /* ------------Experience-------------- */

    .experience-right{
        display: none;
    }

    #experience{
        width: 100%;
        /* display: flex; */
        flex-direction: row;
        margin-top: 50px;
        padding-top: 10px;
    }

    .mobile-experience-img{
        width: 100%;
    }

    .mobile-experience-img img{
        width: 100%;
    }
    
    .experience-left{
        width: 100%;
        height: 300px;
    }

    #timeline {
        position: relative;
        width: 70%;
        margin: auto;
        margin-top: 8%;
        opacity: 0;
      }
      
      .timeline-line:after {
        content: '';
        width: 2px;
        position: absolute;
        top: .5rem;
        bottom: 0rem;
        left: 65px;
        z-index: 1;
        background: #C5C5C5;
      }
      
      #timeline h3 {
        position: sticky;
        color: #888;
        margin: 0;
        font-size: 22px;
        font-weight: 600;
      }
      
    
      #timeline section.year {
        position: relative;
      }
      
      #timeline section.year section {
        position: relative;
        padding-bottom: 1.1em;
        margin-bottom: .6em;
      }
      #timeline section.year section h4 {
        position: absolute;
        bottom: 0;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 0 50%;
        color: #888;
      }
      
      #timeline section.year section ul {
        list-style-type: none;
        padding: 0 0 0 75px;
        margin: -1.35rem 0 0em;
        max-width: 32rem;
        font-size: 1em;
      }
      
    
      #timeline section.year section ul:first-of-type:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #979797;;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        position: absolute;
        left: 61px;
        top: 6px;
        z-index: 2;
      }
      
      #timeline section.year section ul li {
        margin-left: 1.5rem;
        color: #181818;
        font-weight: bolder;
        font-size: 18px;
      }
      #timeline section.year section ul li:before {
        content: '-';
        margin-left: -1.2rem;
        padding-right: .3rem;
        color: #181818;
      }

      .bookmark-left{
          display: none;
      }

      .mobile-experience-left:before{
        content:'';
        width:10px;  
        height: 0%;  
        border: 13px solid;  
        border-color: transparent #4a4f56 transparent  transparent ;   
        border-top: 0;  
        margin-left: -23px;  
        position: absolute;  
        top: 27px;
    }

    .mobile-experience-left{
        width: 25%;  
        height: 27px;  
        background-color: #8a8a8a;  
        font-size: 3.4vmin;  
        line-height: 27px;  
        text-align: center;  
        position: relative;  
        margin-top: 3%;  
        left: 0px;  
        font-weight: 400;
        color:#e5e5e5;
        letter-spacing: 8px;
    }

    .mobile-experience-left:after{
        content:'';
        width: 0px;  
        height: 0%;  
        border: 13px solid;  
        border-color: transparent  transparent  transparent #8a8a8a;   
        position: absolute;  
        right:-26px;  
        top: 0px; 
    }

     

    
    

 
} 
